<%= content_for :title, 'Espaces' %>

<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Images</th>
    </tr>
  </thead>
  <tbody>
    <% @spaces.each do |space| %>
      <tr>
        <td><%= link_to space, [:admin, space] %></td>
        <td><%= space.images.count %></td>
      </td>
    <% end %>
  </tbody>
</div>

<% content_for :action_bar_right do %>
  <%= link_to "Créer", new_admin_space_path, class: button_classes %>
<% end %>