// space variable
$blue: #283583
$green: #60FE00

// bootstrap variables
body
    --bs-body-font-size: 22px

.btn
    --bs-btn-border-width: 0px

.btn-primary
    --bs-btn-color: #{$green}
    --bs-btn-bg: #{$blue}
    --bs-btn-border-color: #{$blue}
    --bs-btn-hover-color: #{$blue}
    --bs-btn-hover-bg: #{$green}
    --bs-btn-padding-y: 10px
    --bs-btn-padding-x: 30px
    --bs-btn-border-radius: 30px
    --bs-btn-font-size: 18px

.navbar
    position: absolute
    top: 0
    left: 0
    width: 100%
    a
        color: $green

.navbar-brand
    position: absolute
    top: 10px
    z-index: 100
    img
        max-width: 30vw

.pages-index
    .hero, .new-image
        .container
            max-width: 100%
            padding-left: 33.33333333%
            padding-right: 33.33333333%
    .hero
        background: $blue
        color: white
        padding-top: 50px
    