<nav id="topbar" class="navbar navbar-expand navbar-light navbar-bg">
  <div class="navbar-collapse collapse">
    <a class="sidebar-toggle">
      <i class="hamburger align-self-center"></i>
    </a>
    <div class="d-none d-lg-block">
      <%= render_breadcrumbs builder: Appstack::BreadcrumbsOnRailsBuilder %>
    </div>
    <ul class="navbar-nav navbar-align">
    </ul>
  </div>
</nav>
