<%= content_for :title, 'Imaginarium' %>

<div class="no_space">
  <div class="welcome">
    <%= image_tag 'logo.svg', class: 'logo', alt: 'Imaginarium' %>
    <p>
      Un outil libre (<a href="https://github.com/noesya/imaginarium" target="_blank">code sur Github</a>) conçu et développé par 
      Les Éditions <a href="https://volumique.com/v2/" target="_blank">Volumique</a>
      et la coopérative <a href="https://www.noesya.coop" target="_blank">noesya</a>,
      utilisant le moteur de génération d'images <a href="https://stability.ai" target="_blank">Stability.ai</a>.
    </p>
  </div>

  <div class="row g-0">
    <% @images.each do |image| %>
      <div class="col-md-2 col-4">
        <%= kamifusen_tag image.generated, class: 'img-fluid', alt: image %>
      </div>
    <% end %>
  </div>
</div>
