<%= content_for :title, current_space %>

<div class="text-center mb-5">
  <%= link_to 'Participer', new_image_path, class: 'btn btn-primary' %>
  <%= link_to 'Voir les images', images_path, class: 'btn btn-primary' %>
</div>

<%= render 'images/list', images: @images %>