<%= content_for :title, t('footer.legal') %>

<section class="hero">
  <div class="container py-5">
    <h1 class="mb-5"><%= t('footer.legal') %></h1>
    <%= @legal.html_safe %>
    <p><b>Technique</b></p>
    <p>
      Ce site s'appuie sur <a href="https://imaginarium.osc-fr1.scalingo.io" target="_blank">Imaginarium</a>,
      un outil libre (<a href="https://github.com/noesya/imaginarium" target="_blank">code sur Github</a>) conçu et développé par
      Les Éditions <a href="https://volumique.com/v2/" target="_blank">Volumique</a>
      et la coopérative <a href="https://www.noesya.coop" target="_blank">noesya</a>,
      utilisant le moteur de génération d'images <a href="https://stability.ai" target="_blank">Stability.ai</a>.
    </p>
  </div>
</section>