<%= content_for :title, 'Mentions légales' %>

<div class="container">
  <div class="row">
    <div class="offset-lg-3 col-lg-6">

      <%= @legal.html_safe %>

      <p><b>Technique</b></p>
      <p>
        Ce site s'appuie sur <a href="https://www.imaginarium.live" target="_blank">Imaginarium</a>, 
        un outil libre (<a href="https://github.com/noesya/imaginarium" target="_blank">code sur Github</a>) conçu et développé par 
        Les Éditions <a href="https://volumique.com/v2/" target="_blank">Volumique</a>
        et la coopérative <a href="https://www.noesya.coop" target="_blank">noesya</a>,
        utilisant le moteur de génération d'images <a href="https://stability.ai" target="_blank">Stability.ai</a>.
      </p>
    </div>
  </div>
</div>