<%= content_for :title, 'Politique de confidentialité et de cookies' %>

<section class="hero">
  <div class="container py-5">
    <p><b>Politique de confidentialité et de cookies</b></p>
    <p>
      Cette politique de confidentialité et de protection des données personnelles, ci-après dénommée «Politique de confidentialité», s’applique au site <%= current_space.domain %>, ci-après dénommé le «Site».
    </p>
    <p>
      Nous accordons une importance cruciale à la protection de vos données personnelles. Pour vous garantir le meilleur niveau de protection, nous veillons scrupuleusement à ce que la collecte, l’utilisation et le traitement de vos données personnelles s’effectuent avec précaution et à bon escient, et dans le strict respect du règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données, ci-après dénommé « RGPD ».
    </p>
    <p>
      Ce document a pour objectif de vous exposer notre Politique de confidentialité et la manière dont sont collectées, utilisées et traitées vos données à caractère personnel.
    </p>
    <p>
      Sont considérées comme données personnelles toutes les données étant susceptibles de vous identifier. Il s’agit notamment de votre pseudo, adresse électronique, localisation ou encore adresse IP.
    </p>
    <p>
      Cette Politique de confidentialité complète les mentions légales que vous pouvez consulter en cliquant <%= link_to 'ici', legal_url %>
    </p>
    <p>
      Cette Politique de confidentialité couvre également les données que nous recevons de la part de nos prestataires de service ou autre sources tierces.
    </p>
    <p>
      La base légale pour le traitement des données à caractère personnel couvertes par la présente Politique de confidentialité est fondée sur le RGPD.
    </p>
    <p>
      Ainsi nous collectons et traitons uniquement les données personnelles pour les cas suivants :
      <ul>
        <li>Lorsque vous avez donné votre consentement&nbsp;;</li>
        <li>Lorsque le traitement des données est nécessaire à l’exécution d’un contrat&nbsp;;</li>
        <li>Lorsqu’il existe un intérêt légitime&nbsp;;</li>
        <li>Lorsque le traitement des données résulte d’une obligation légale.</li>
      </ul>
    </p>
    <p>
      Nous collectons et traitons vos données dans le respect des principes suivants : Licéité, loyauté et transparence
    </p>
    <p>
      Vos données ne peuvent être collectées et traitées qu’avec votre consentement. A chaque fois que des données à caractère personnel sont collectées, vous serez informé que ces données sont collectées et pour quelles raisons elles le sont.
    </p>
    <p>
      La collecte et le traitement des données sont exécutés pour répondre à un ou plusieurs objectifs déterminés dans le cadre de la présente Politique de confidentialité.
    </p>
    <p>
      Seules les données nécessaires à la bonne exécution des objectifs poursuivis par le Site sont collectées.
    </p>
    <p>
      Vos données sont conservées durant toute la période des relations avec vous ainsi que pendant une période d’inactivité maximale de trois ans.
    </p>
    <p>
      Nous nous engageons à garantir l’intégrité et la confidentialité des données collectées à l’exception des tiers prestataires de services et partenaires indispensables à la bonne exécution des objectifs poursuivis par le Site.
    </p>

    <p>
      Parmi les données collectées automatiquement figurent les Cookies et autres technologies similaires<br>
      Les cookies et les technologies similaires sont des données stockées directement sur l’ordinateur que vous utilisez.<br>
      Un cookie est un petit fichier situé dans votre appareil qui permet d’activer les fonctionnalités de notre Site. Tout navigateur qui accède à notre Site peut recevoir des cookies de notre part ou de la part de tiers prestataires de services.
    </p>
    <p>
      Vous pouvez choisir d’accepter ou de refuser les cookies <a href="#" class="js-gdpr__cookie_consent__display_again">ici</a>, à l’exception des cookies indispensables au fonctionnement du Site.
    </p>
    <p>
      Bien que la plupart des navigateurs acceptent automatiquement les cookies, vous pouvez généralement modifier les paramètres de votre navigateur pour refuser les cookies. Si vous préférez refuser les cookies, la plupart des navigateurs vous permettront de :
      <ul>
        <li>Modifier les paramètres de votre navigateur pour vous avertir lorsque vous recevez un cookie, ce qui vous permet d’accepter ou de refuser&nbsp;;</li>
        <li>Désactiver les cookies existants&nbsp;;</li>
        <li>Configurer votre navigateur pour qu’il refuse automatiquement les cookies. Si vous configurez votre navigateur pour qu’il refuse les cookies, certaines parties du Site pourraient ne pas fonctionner correctement.</li>
      </ul>
    </p>
    <p>
      Le Site est hébergé par : SCALINGO SAS, dont le siège est situé 15 avenue du Rhin – 67100 Strasbourg – France.<br>
      L’Hébergeur peut être contacté par mail à <a href="mailto:hello@scalingo.com">hello@scalingo.com</a>
    </p>
    <p>
      Les données collectées et traitées par le Site sont exclusivement hébergées et traitées en FRANCE.
    </p>
  </div>
</section>
