<div class="my-4">
  <%= link_to like_image_path(@image), class: 'like-action btn btn-primary' do %>  
    <% if @image.liked_by? current_user %>
      <i class="bi bi-heart-fill"></i>
    <% else %>
      <i class="bi bi-heart"></i>
    <% end %>
    <%= @image.likes_count %> 
  <% end %>

  <% if $image_is_mine %>
    <%= link_to t('image.cta.mine'), images_path, class: 'btn btn-primary' %>
  <% else %>
    <%= link_to t('image.cta.not_mine'), images_path, class: 'btn btn-primary' %>
  <% end %>
</div>