<%= content_for :title, @question %>

<p>Espace : <%= link_to @question.space, [:admin, @question.space] %></p>

<% content_for :action_bar_right do %>
  <%= link_to "Modifier",
              edit_admin_question_path(@question), 
              class: button_classes %>
  <%= link_to "Supprimer",
              [:admin, @question],
              method: :delete,
              class: button_classes_danger,
              data: { confirm: 'Confirmer ?' } %>
<% end %>