<p><%= images.total_count %> images</p>
<div class="row">
  <% images.each do |image| %>
    <div class="col-md-2 mb-4">
      <article class="position-relative">
        <%= render 'admin/images/image', image: image %>
      </article>
    </div>
  <% end %>
</div>
<%= paginate images, theme: 'bootstrap-5', param_name: :images_page %>
