<p><%= images.total_count %> images</p>
<div class="row">
  <% images.each do |image| %>
    <div class="col-md-2 mb-4">
      <article class="position-relative">
        <% if image.banned? %>
          <span class="badge text-bg-danger position-absolute top-0 end-0 m-1">Image bannie</span>
        <% end %>
        <%= link_to [:admin, image] do %>
          <%= kamifusen_tag image.generated, class: 'img-fluid' %>
        <% end %>
      </article>
    </div>
  <% end %>
</div>
<%= paginate images, theme: 'bootstrap-5', param_name: :images_page %>
