<%= content_for :title, 'Images signalées' %>
<p>Cette liste exclut les images en whitelist (validées malgré les signalements) et en blacklist (bannies définitivement)</p>
<%= render 'admin/images/list', images: @images %>
