<footer>
  <% if current_space.logo_footer.attached? %>
    <%= image_tag current_space.logo_footer, alt: '', class: 'logo' %>
  <% end %>
  <div>
    <%= link_to t('footer.legal'), legal_path %>
    <%= link_to t('footer.privacy'), privacy_path %>
    <%= link_to t('footer.choice'), '#', class: 'js-gdpr__cookie_consent__display_again' %>
  </div>
</footer>
