.home-index
    .welcome
        background: white
        left: 33.3333333vw
        padding: 100px
        position: fixed
        right: 33.3333333vw
        text-align: center
        top: 16.666666vw
        z-index: 10    
        @include media-breakpoint-down(md)
            padding: 40px
            left: 50px
            right: 50px
            top: 50px
    .logo
        width: 100%
        height: auto
        filter: invert(1)
        margin-bottom: 50px

@font-face
  font-family: "bootstrap-icons";
  src: font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"), font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff")