.pages-index
    .no_space
        .welcome
            background: white
            left: 33.3333333vw
            padding: 100px
            position: fixed
            right: 33.3333333vw
            text-align: center
            top: 16.666666vw
            z-index: 10
            @include media-breakpoint-down(md)
                padding: 40px
                left: 50px
                right: 50px
                top: 50px
        .logo
            width: 100%
            height: auto
            filter: invert(1)
            margin-bottom: 50px

.image
    img
        display: block
        width: 100%

footer
    padding: 40px
    display: flex
    justify-content: space-between
    align-items: center
    .logo
        max-width: 200px
    a
        display: block
        color: #666666
        padding: 15px
        font-size: 0.8rem
    @include media-breakpoint-down(md)
        display: block
        text-align: center