<div class="d-flex flex-wrap">
  <% images.each do |image| %>
    <div class="col-md-2">
      <div class="position-relative">
        <span class="badge bg-white text-dark position-absolute top-0 end-0 m-1">
          <i class="bi bi-balloon-heart"></i>
          <%= image.likes_count %> 
        <span>
      </div>
      <%= link_to image do %>
        <%= kamifusen_tag image.generated, class: 'img-fluid', alt: image %>
      <% end %>
    </div>
  <% end %>
</div>