<%= content_for :title, @image.to_s %>

<section class="hero">
  <div class="container">
    <div class="py-5 text-center">
      <p>
        <span class="spinner-border m-5" role="status"></span><br>
        Génération de l'image en cours
      </p>
    </div>
  </div>
</section>

<script>
setTimeout(function () {
    location.reload()
}, 2000);
</script>